{# templates/contact/contact.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1 class="text-center mb-5 mt-5">Contactez-nous</h1>

    {{ form_start(contactForm) }}
    {{ form_row(contactForm.name) }}
    {{ form_row(contactForm.email) }}
    {{ form_row(contactForm.telephone) }}
    {{ form_row(contactForm.message) }}
    {{ form_row(contactForm.submit) }}
    {{ form_end(contactForm) }}
{% endblock %}