{# templates/realisation/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Nos Réalisations{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Nos Réalisations</h1>
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center">
            <img src="{{ asset('images/realisation1.jpg') }}" class="realisation-img" alt="Réalisation 1" style="border-radius: 20px;">
        </div>
        <div class="col d-flex justify-content-center align-items-center">
            <img src="{{ asset('images/realisation2.jpg') }}" class="realisation-img" alt="Réalisation 2" style="border-radius: 20px;">
        </div>
        <div class="col d-flex justify-content-center align-items-center">
            <img src="{{ asset('images/realisation3.jpg') }}" class="realisation-img" alt="Réalisation 3" style="border-radius: 20px;">
        </div>
    </div>
    <div class="row mt-4">    
        <div class="col d-flex justify-content-center align-items-center">
            <img src="{{ asset('images/realisation4.jpg') }}" class="realisation-img" alt="Réalisation 4" style="border-radius: 20px;">
        </div>
        <div class="col d-flex justify-content-center align-items-center">
            <img src="{{ asset('images/realisation5.jpg') }}" class="realisation-img" alt="Réalisation 5" style="border-radius: 20px;">
        </div>
        <div class="col d-flex justify-content-center align-items-center">
            <img src="{{ asset('images/realisation6.jpg') }}" class="realisation-img" alt="Réalisation 6" style="border-radius: 20px;">
        </div>  
    </div>
</div>
{% endblock %}
